body{
	margin: 0px;
	padding: 0px;
}
/*top header section*/
.top_header{
	background-color: #1c3980;
}
.mdc-card{
	background: linear-gradient(to bottom, #ddd6f3 0%, #faaca8 100%);
}
.mdc-card{
	padding: 5px;
}
/*for selector*/
.selector{
	border-bottom: 15px;
}
.selector li{
	border-right: 1px solid white;
	color: white;
}
.selector li:last-child{
	border-right: none;
}
/*top header left side*/
.top_header_list{
	color: white;
	/*font-family: 'work_sansregular';*/
}
.mdc-button--dense{
	background-color: white;
	border: none;
}	
/*.mdc-list li{
	display: inline;
	border-right: 2px solid white;
	font-weight: bolder;
	padding-left: 5px;	
}
.mdc-list li:last-child{
	border-right: none; 
}
*/
.right_header{
  float: right;
  margin-right: 20px; 
  margin-top: 10px;
}
.signin,.signup{
	border-radius: 5px; 
	color: #ffffff;	
	padding: 5px;
/*	font-family: 'work_sansregular';*/
}
.signin{
	background-image: linear-gradient(#f8d86d, #e6a02b);
}
.signup{
	background-image: linear-gradient(#ea7a4c, #cf1e2d);
}
/*top and middle header section*/
.mdc-list-item{
		display: inline;
		/*font-family: 'work_sansregular';*/
}

/*middle hedder section*/
.middle_header{
	background-color: #ffffff;
	padding: 45px;
}
.logo{
	height: 50px;
	width: 70px;
	margin-left: 50px;
	float: left;
	margin-bottom: 20px;
}
.img_section{
	float: left;
	margin-left: 50px;
}
.list_section{
	margin-left: 150px;
	float: right;
}
/*bottom header section*/
.bottom_header{
	background-color: #3c83c1;
	padding: 8px;
}
.mdc-text-field {
	width: 40%;
	height: 40px;
	margin-left: 15%;
}	
.search_icon{
	margin: 5px;
	color: black;
}
.search{
	background-image: linear-gradient(#f8d870, #e6a537);
	width: 30%;
	height: 100%;
	margin-left: 50px;	
	color: #ffffff;	
}
/*1st section*/
/*background image section*/
.bgimg{
	background-image: url(../images/bgimg.jpg);
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	position: relative;
}
.title{
	text-transform: uppercase;
}
/*2nd section*/
/*destionation Name section*/
.head1, .head2, .head3, .head4, .head5{
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	/*font-family: 'work_sansregular';*/
}
.content1,.content2,.content3,.content4,.content5{
	padding: 12px;
	/*font-family: 'work_sansregular';*/
}
.head1{
	background-image: linear-gradient(#f7d66e, #e9a636);
	border: 1px solid #eaac3f;
}
.content1{
	border: 1px solid #eaac3f;    
}
.foot1{
	color: #eaac3f;
}
.head2{
	background-image: linear-gradient(#d03852, #991442);
	border: 1px solid #bc2a4d; 
}
.content2{
	border: 1px solid #bc2a4d;
}
.foot2{
	color: #bc2a4d;
}
.head3{
	background-image: linear-gradient(#549ace, #397dbd);
	border: 1px solid #3c85c3;
}
.content3{
	border: 1px solid #3c85c3;
}
.foot3{
	color: #3c85c3;
}
.head4{
	background-image: linear-gradient(#6b4a96, #4b3185);
	border: 1px solid #573c8b;
}
.content4{
	border: 1px solid #573c8b;
}
.foot4{
	color: #573c8b;
}
.head5{
	background-image: linear-gradient(#444d99, #1b367e);
	border: 1px solid #1c3983;
}
.content5{
	border: 1px solid #1c3983;
}
.foot5{
	color: #1c3983;
}
.text1{
	color: #cb2032;
}
/*3rd section*/
.text2{
	color:#4c2f84;
}
.mission_header{
	background-color: lightgrey;
}
.mission{
	border-radius: 50%;
	height: 300px;
	width: 290px;
	border: 2px solid #d21f30;
	margin-top: 25px;	
}
.btn1, .btn2, .btn3, .btn4, .btn5, .btn6{
	border-radius: 5px;
	color: white;
}
.arrow1,.arrow2, .arrow3, .arrow4, .arrow5, .arrow6{
	padding-left: 12px; 
}
.arrow1{
	color: #d42939;
}
.arrow2{
	color: #f4c55b;
}
.arrow3{
	color: #348ac5;	
}
.arrow4{
	color: #5c3f8f;	
}
.arrow5{
	color: #b9294c;
}
.arrow6{
	color: #26408a;
}
.btn1{
	background-image: linear-gradient(#e77049, #d22236);
}
.btn2{
	background-image: linear-gradient(#f8dc75, #e4a229);
}
.btn3{
	background-image: linear-gradient(#66a0cd, #397bbe);
}
.btn4{
	background-image: linear-gradient(#72529d, #4a3184);
}
.btn5{
	background-image: linear-gradient(#cf3952, #9f1844);
}
.btn6{
	background-image: linear-gradient(#364890, #1a347b);
}
.text3{
	color: #e5a137;
}
.mdc-card__media {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media1{
	background-image: url(../images/t1.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media2{
	background-image: url(../images/t2.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media3{
	background-image: url(../images/t3.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media4{
	background-image: url(../images/t4.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media5{
	background-image: url(../images/t5.jpg);
}
.mdc-card__media.mdc-card__media--16-9.demo-card__media6{
	background-image: url(../images/t6.jpg);
}
.demo-card__primary {
	padding-left: 15px; 
}
.mdc-card__action{
	padding-bottom: 10px;
}
/*5th section start*/
.text4{
	color: #197bba;
}
.holidays {
  	border:1px solid lightgray;
}
.holidays_btn1, .holidays_btn2, .holidays_btn3, .holidays_btn4, .holidays_btn5, .holidays_btn6{
	margin-bottom:15px;
	border-radius: 5px;
	color: #ffffff;
}
.holidays_txt1, .holidays_txt2, .holidays_txt3, .holidays_txt4, .holidays_txt5, .holidays_txt6{
	text-align: center;
}
.holidays label{
  	margin-left: 200px;
 	margin-top: 10px;
}
.holidays_txt1{
  	color:#6c4c95;
}
.holidays_btn1{
	background-image: linear-gradient(#72529d, #4a3184);
}
.holidays_txt2{
  	color:#d7383c;
 }
.holidays_btn2{
  	background-image: linear-gradient(#e77049, #d22236);
}
.holidays_txt3{
  	color:#153b86;
}
.holidays_btn3{
  	background-image: linear-gradient(#364890, #1a347b);
}
.holidays_txt4{
  	color:#a31a46;
}
.holidays_btn4{
  	background-image: linear-gradient(#cf3952, #9f1844);
}
.holidays_txt5{
  	color:#ebaf41;
}
.holidays_btn5{
  	background-color: #ebaf41;
  	background-image: linear-gradient(#f5e67b,#e6a02a);
}
.holidays_txt6{
  	color:#2d87c3;
}
.holidays_btn6{
  	background-image: linear-gradient(#66a0cd, #397bbe);
}
.subheader, .para_txt{
	text-align: center;
}
/*.tab_section{
  	padding-right: 20px;
   	margin-top: 20px;
}*/
.text5{
	color: #9d1448;
}
.text6{
	color: #951545
}

/*6th section*/
.banner{
	background-image: url(../images/banner.jpeg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: fixed;
}
.profile{
	height: 200px;
	width: 200px;
	border-radius: 180px;
	margin-left: 204px;
}
.content_text{
	color: #ffffff;
	margin-left: 204px;
}
.content_p{
	color: #ffffff;
	margin-left: 0;
}
.title{
	margin-left: 204px;
}
/*.tabs{
	font-family: 'work_sansbold';
}*/
.material-icons{
	color: #eebb47;
}
.rating{
	color: #999999;	
}
/*footer section start*/
.footer{
  background-color: #3f3f41;
}
.footer_about{
  color:#fee06c;
}
.footer_about{
  color: white;
}
.f_img{
  margin-top: 13px;
}
.footer_list2{
  color: #ed8f4f;
  /*font-family: 'work_sansbold';*/
}
.f_margin{
  margin-top: -25px;
}
.footer_title{
	color:#ffdb77;
}
.footer_list1{
  color:#ffdb77;
}
.footer_list3{
  color: #d33e58;
}
.footer_list4{
  color: #6d568b;
}
.footer_list5{
  color: #7679db;
}
.footer_list6{
  color: #6fa5ce;
}
.footer_bottom{
 background-color: #38383a;
}
/*.font_bold{
	font-family: 'work_sansbold';
}*/
/*.font_regular{
	font-family: 'work_sansregular';
}*/
/*.font_black{
	font-family: 'work_sansblack';
}*/
/*@font-face {
    font-family: 'work_sansblack';
    src: url('worksans-black-webfont.eot');
    src: url('worksans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('worksans-black-webfont.woff2') format('woff2'),
         url('worksans-black-webfont.woff') format('woff'),
         url('worksans-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'work_sansbold';
    src: url('worksans-bold-webfont.eot');
    src: url('worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('worksans-bold-webfont.woff2') format('woff2'),
         url('worksans-bold-webfont.woff') format('woff'),
         url('worksans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'work_sansregular';
    src: url('worksans-regular-webfont.eot');
    src: url('worksans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('worksans-regular-webfont.woff2') format('woff2'),
         url('worksans-regular-webfont.woff') format('woff'),
         url('worksans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}*/